@model List<Person>
@{
    ViewData["Title"] = "Search - Find People";
}

<h1>New Search</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First name  </th>
            <th>Last name  </th>
            <th>City name  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName  </td>
                <td>@person.LastName  </td>
                <td>@person.CityName  </td>
                <td>
                    
                    <form asp-action="Info" method="post">
                    <input type="hidden" value="@person.Id" name="id" />
                    <button type="submit" >Person Info </button>
                    </form>
                 </td>

                 <td>
                    
                   
                 </td>
            </tr>
        }
        </tbody>
    </table>